<%- include("partials/header.ejs") %>
<div class="headings">
  <h1>Dashboard</h1>
  <p class="text-body-secondary">Track real-time cryptocurrency prices and market trends</p>
</div>
<div class="Dashboard Cards GridParent">
  <!--Card 1 : Total Market Cap-->
  <div class="crypto-card">
    <div class="card-header">
      <!-- Icon Section -->
      <div class="icon-wrapper">
        <i class="bi bi-currency-dollar custom-icon"></i>
      </div>
      
      <!-- Trend Indicator -->
      <% if (global.market_cap_change_percentage_24h_usd > 0) { %>
      <div class="trend positive">
          <i class="bi bi-graph-up-arrow"></i>
        +<%= Intl.NumberFormat("en-US", {
        notation: "compact",
        maximumFractionDigits: 2
      }).format(global.market_cap_change_percentage_24h_usd) %>%
      </div>
      <% } else { %>
        <div class="trend negative">
          <i class="bi bi-graph-down-arrow"></i>
        <%= Intl.NumberFormat("en-US", {
        notation: "compact",
        maximumFractionDigits: 2
      }).format(global.market_cap_change_percentage_24h_usd) %>%
      </div>
      <%}%>
    </div>
    
    <!-- Label -->
    <p class="card-label">Total Market Cap</p>
    
    <!-- Value -->
    <p class="card-value">
      <%= Intl.NumberFormat("en-US", {
      style: "currency",
      currency: "USD",
      notation: "compact",
      maximumFractionDigits: 2
    }).format(global.total_market_cap.usd) %>
    </p>
  </div>
  <!--Card 2 : 24h Volume-->
  <div class="crypto-card">
  <div class="card-header">
    <!-- Icon Section -->
    <div class="icon-wrapper">
      <i class="bi bi-activity custom-icon"></i>
    </div>
    
    <!-- Trend Indicator -->
    <div class="trend positive">
    </div>
  </div>
  
  <!-- Label -->
  <p class="card-label">24h Volume</p>
  
  <!-- Value -->
  <p class="card-value">
    <%= Intl.NumberFormat("en-US" , {
      style : "currency" ,
      currency : "USD" ,
      notation : "compact" ,
      maximumFractionDigits : 2
    }).format(global.total_volume.usd) %>
  </p>
</div>
<!--Card 3 : BTC Dominance -->
  <div class="crypto-card">
  <div class="card-header">
    <!-- Icon Section -->
    <div class="icon-wrapper">
      <i class="bi bi-currency-bitcoin custom-icon"></i>
    </div>
    
    <!-- Trend Indicator -->
      <% if (btcData.market_cap_change_percentage_24h > 0) { %>
      <div class="trend positive">
          <i class="bi bi-graph-up-arrow"></i>
        +<%= Intl.NumberFormat("en-US", {
        notation: "compact",
        maximumFractionDigits: 2
      }).format(btcData.market_cap_change_percentage_24h) %>%
      </div>
      <% } else { %>
        <div class="trend negative">
          <i class="bi bi-graph-down-arrow"></i>
        <%= Intl.NumberFormat("en-US", {
        notation: "compact",
        maximumFractionDigits: 2
      }).format(btcData.market_cap_change_percentage_24h) %>%
      </div>
      <%}%>
  </div>
  
  <!-- Label -->
  <p class="card-label">BTC Dominance</p>
  
  <!-- Value -->
  <p class="card-value">
    <%= Intl.NumberFormat("en-US" , {
      style : "currency" ,
      currency : "USD" ,
      notation : "compact" ,
      maximumFractionDigits : 2
    }).format(btcData.market_cap) %>
  </p>
</div>
<!--Card 4 : Feed and Greed Index -->
  <div class="crypto-card">
  <div class="card-header">
    <!-- Icon Section -->
    <div class="icon-wrapper">
      <i class="bi bi-heart-pulse custom-icon"></i>
    </div>
    
    <!-- Trend Indicator -->
    <% let color = "" ;
    let iconClass = "" ;
    if (parseInt(fng.value) <= 24 ) { color = '#d9534f' ; iconClass = "bi-graph-down-arrow"}
    else if (parseInt(fng.value ) <= 50) { color = '#f0ad4e' ; iconClass = "bi-graph-down-arrow"}
    else if (parseInt(fng.value) <= 54) {color = '#5bc0de' ; iconClass = "bi-graph-down-arrow"}
    else if (parseInt(fng.value) <= 74) {color = '#5cb85c' ; iconClass = "bi-graph-up-arrow"}
    else {color = "#28a745" ; iconClass = "bi-graph-up-arrow"}
    %>
    <div class="trend positive">
      <i class="bi <%= iconClass %>" style = "color :<%= color %>;"></i>
      <span style="color: <%= color %>;">
        <%= fng.value_classification %>
      </span>
    </div>
  </div>
  
  <!-- Label -->
  <p class="card-label">Fear and Greed Index</p>
  
  <!-- Value -->
  <p class="card-value">
    <%= fng.value %>
  </p>
</div>

  </div>
  
</div>

</div>
<%- include("partials/footer.ejs") %>